#about {
	margin-top: 44px;
	.image-wrapper{
		border: 8px solid $secondary-color;
		img{
			height: 60vh;
		}
	}
    .text{
		font-size: 40px;
		font-weight: bold;
		color: $secondary-color;
		font-family: $primary-font;
		text-transform: capitalize;
	}
	.text-desc{
		font-size: 18px;
		color: $primary-color;
		font-family: $secondary-font-regular;
	}
	.number{
		font-size: 28px;
		color: $primary-color;
		font-family: $secondary-font-medium;
	}
	.card-position{
		.card{
			border-radius: 0;
		}
		position: absolute;
		top: 39.3%;
		left: 50%;
		right: 0;
		transform: translate(-50%, -50%);
		.card-border{
			border: 1px solid $primary-color;
			padding: 28px;
		}
		
	}
}