#about {
	margin-top: 44px;
	.image-wrapper{
		border: 5px solid $secondary-color;
	}
    .text{
		font-size: 36px;
		font-weight: bold;
		color: $secondary-color;
		font-family: $primary-font;
		text-transform: capitalize;
	}
	.text-desc{
		font-size: 18px;
		color: $primary-color;
		font-family: $secondary-font-regular;
	}
	.number{
		font-size: 28px;
		color: $primary-color;
		font-family: $secondary-font-medium;
	}
	.card-position{
		position: absolute;
		top: 38%;
		left: 50%;
		right: 0;
		transform: translate(-50%, -50%);
		.card-border{
			border: 1px solid $primary-color;
			padding: 20px;
		}
	}
}