#gallery{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/welcome/back-img.gif);
    .heading-text{
        font-size: 40px;
        color: $secondary-color;
        text-transform: capitalize;
        font-family: $primary-font;
    }
    .desc-text{
        font-size: 18px;
        color: $light-color;
        font-family: $secondary-font-regular;
    }

    .main-wrapper {
        position: relative;
        width: 100%;
      }
      
      .image {
        display: block;
        width: 100%;
        height: auto;
      }
      
      .overlay {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        background-color:rgba($primary-color, 0.5) ;
        overflow: hidden;
        width: 100%;
        height:0;
        transition: .5s ease;
      }
      
      .main-wrapper:hover .overlay {
        bottom: 0;
        height: 100%;
      }
      
      .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }

      .filter-button{
        background-color: transparent;
        color: $secondary-color;
        font-family: $secondary-font-regular;
        font-size: 18px;
        margin:6px;
        text-transform: uppercase;
        &:hover{
          font-size: 18px;
          color: $primary-color;
          font-family: $secondary-font-medium;
        }
        &:active{
          color: $primary-color !important;
        }
      }
    
    //   .btn-default:active .filter-button:active{
    //       color: $primary-color;
    //   }
     .active{
        color: $primary-color !important;
      }

      .none-display{
          display: none;
      }
      .btn-load-more{
        width: 198px;
        height: 60px;
        font-size: 19px;
        border-radius: 0;
        color: $primary-color;
        text-transform: uppercase;
        font-family: $secondary-font-medium;
        border: 1px solid rgb(38, 48, 69);
        background-color: $light-color;
        box-shadow: 2.5px 4.33px 5px 0px rgba(216, 155, 100, 0.5)
      }  
}