/*================================= 
Home Section Styling
=================================*/

#home {
	width: 100%;
	padding: 50px 0 50px 0;
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
    background-image: url(../images/hero/bg-img.png);
	.main-banner-text {
		@include rfs(50px);
		color: $secondary-color;
		text-transform: capitalize;
		font-family: $primary-font;
	}
	.content-setting {
	 padding: 100px 0 0px 0;
	 img{
		 width: 90%;
	 }
	}
	
	.btn-book-table {
		border: 1px solid #3a4356;
		background-color: rgba(255, 255, 255, 0);
		box-shadow: inset 2.5px 4.33px 5px 0px #3a4356;
		width: 198px;
		height: 60px;
		border-radius: 0;
		font-size: 16px;
		color: $secondary-color;
		font-family: $secondary-font-medium;
		text-transform: uppercase;
	}
	  
	// CSS Animation Slider 'AA'
	// .owl-item.active {
	// 	.item {
	// 		.main-banner-text {
	// 			animation-name: moveInUp;
	// 			animation-duration: 2s;
	// 			animation-delay: 0.5s;
	// 			animation-timing-function: ease;
	// 			animation-fill-mode: both;
	// 			backface-visibility: hidden;
	// 		}
	// 		.btn-menu {
	// 			animation-name: moveInUp;
	// 			animation-duration: 0.5s;
	// 			animation-delay: 2s;
	// 			animation-timing-function: ease;
	// 			animation-fill-mode: both;
	// 			backface-visibility: hidden;
	// 		}
	// 	}

	// 	// .item {
	// 	// 	.btn-menu {
	// 	// 		animation-duration: 2s;
	// 	// 		animation-delay: 1s;
	// 	// 	}
	// 	// }
	// }

	// @keyframes moveInUp {
	// 	0% {
	// 		opacity: 0;
	// 		transform: translate(0%, 100%);
	// 	}

	// 	100% {
	// 		opacity: 1;
	// 		transform: translate(0%, 0%);
	// 	}
	// }
}
