/*================================= 
Home Section Styling
=================================*/

#home {
	width: 100%;
	padding: 50px 0 50px 0;
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
    background-image: url(../images/hero/bg-img.png);
	.main-banner-text {
		@include rfs(50px);
		color: $secondary-color;
		text-transform: capitalize;
		font-family: $primary-font;
	}
	.content-setting {
	 padding: 100px 0 0px 0;
	 img{
		 display: block;
		 margin-right: auto;
		 margin-left: auto;
		 width: 85%;
	 }
	}
	
	.btn-book-table {
		border: 1px solid #3a4356;
		background-color: rgba(255, 255, 255, 0);
		box-shadow: inset 0px 2px 4px 2px #3a4356;
		width: 198px;
		height: 60px;
		border-radius: 0;
		font-size: 16px;
		color: $secondary-color;
		font-family: $secondary-font-medium;
		text-transform: uppercase;
	}
	.owl-nav {
		display: none;
	}
	 .owl-dots .owl-dot.active:before {
			color: $secondary-color;
	}
	
		 .owl-dots .owl-dot.active::after {
			content: "";
			position: absolute;
			background: $secondary-color;
			height: 1.5px;
			width: 100%;
			left: 9px;
			margin-top: 28px;
		}
	.owl-dots{
		counter-reset: dots;
		position: absolute;
		right: 10%;
		top: 50%;
		transform: translate(0px, -50%);
	}
	.owl-dot:before {
		counter-increment: dots;
		content: '0' counter(dots);
		color: $light-color;
		font-family: $secondary-font-medium;
	}
	.owl-carousel .owl-nav button.owl-next, 
	.owl-carousel .owl-nav button.owl-prev, 
	.owl-carousel button.owl-dot {
		margin-top: 100%;
		border: none;
		display: block;
		padding: 0!important;
	}
	.right-arrow {
		position: absolute;
		right: 4%;
		z-index: 22;
		top: 50%;
		transform: translate(0, -50%);
		cursor: pointer;
	}
	.left-arrow {
		position: absolute;
		left: 4%;
		top: 50%;
		transform: translate(0, -50%);
		z-index: 22;
		cursor: pointer;
	}

	// CSS Animation Slider 'AA'
	// .owl-item.active {
	// 	.item {
	// 		.main-banner-text {
	// 			animation-name: moveInUp;
	// 			animation-duration: 2s;
	// 			animation-delay: 0.5s;
	// 			animation-timing-function: ease;
	// 			animation-fill-mode: both;
	// 			backface-visibility: hidden;
	// 		}
	// 		.btn-menu {
	// 			animation-name: moveInUp;
	// 			animation-duration: 0.5s;
	// 			animation-delay: 2s;
	// 			animation-timing-function: ease;
	// 			animation-fill-mode: both;
	// 			backface-visibility: hidden;
	// 		}
	// 	}

	// 	// .item {
	// 	// 	.btn-menu {
	// 	// 		animation-duration: 2s;
	// 	// 		animation-delay: 1s;
	// 	// 	}
	// 	// }
	// }

	// @keyframes moveInUp {
	// 	0% {
	// 		opacity: 0;
	// 		transform: translate(0%, 100%);
	// 	}

	// 	100% {
	// 		opacity: 1;
	// 		transform: translate(0%, 0%);
	// 	}
	// }
}
