/*================================= 
Media Queries Styling
=================================*/
@media only screen and (max-width: 1450px) {
}
@media only screen and (max-width: 1367px) {
	#about {
		.image-wrapper{
			img{
				height: 45vh;
			}
		}
		.card-position {
		position: absolute;
		top: 40%;
		left: 50%;
}}}

@media only screen and (max-width: 1150px) {
}
@media only screen and (max-width: 1024px) {
	#about{ 
		.image-wrapper {
			img {
			height: 34vh;
		}
	}
		.card-position {
		top: 40%;
	}
}
}
@media only screen and (max-width: 993px) {
}
@media only screen and (max-width: 890px) {
}
@media only screen and (max-width: 801px) {
}
@media only screen and (max-width: 769px) {	
	#home{
		.main-banner-text{
			font-size:35px;
		}
	}
	#about{
		.text{
			font-size: 30px;
		}
		.text-desc{
			font-size: 15px;
		}
		.number{
			font-size: 22px;
		}
		.media-none{
			display: none;
		}
		.image-wrapper{
			img{
				width: auto;
				height: auto;
			}
		}
	.card-position{ 
		top: 41%;
		.card-border {
		border: 1px solid #161c29;
		padding: 15px;
	}
  }
}
	
}
@media only screen and (max-width: 760px) {
}
@media only screen and (max-width: 640px) {
	#home{
		.content-setting {
			img{
				width: 55%;
			}
	    }
		.btn-book-table {
			width: 135px;
			height: 45px;
			font-size: 12px;
		}
	
		.media-mt{
			margin-top: 4%;
		}
		 .owl-dots {
			right: 12%;
			top: 64%;
		}
		.media-center{
			text-align: center;
			div{
				margin-top: 10px;
			}
		}
	}
}
@media only screen and (max-width: 540px) {
}
@media only screen and (max-width: 415px) {
	#home{
		.content-setting {
			img{
				width: 55%;
			}
	    }
		.btn-book-table {
			width: 135px;
			height: 45px;
			font-size: 12px;
		}
		.owl-dots{
			display: none;
		}
		.media-mt{
			margin-top: 4%;
		}
		.media-center{
			text-align: center;
			div{
				margin-top: 10px;
			}
		}
	}
}
@media only screen and (max-width: 411px) {
}
@media only screen and (max-width: 398px) {
}
@media only screen and (max-width: 376px) {
}
@media only screen and (max-width: 361px) {
}
@media only screen and (max-width: 321px) {
}

/*==================== Media Query For Land Scape Mode =====================*/
@media only screen and (max-width: 1367px) and (orientation: landscape) {
}
@media only screen and (max-width: 1280px) and (orientation: landscape) {
}
@media only screen and (max-width: 1024px) and (orientation: landscape) {
}
@media only screen and (max-width: 830px) and (orientation: landscape) {
	#home{
		.content-setting {
			img{
				width: 55%;
			}
	    }
		.btn-book-table {
			width: 135px;
			height: 45px;
			font-size: 12px;
		}
		.owl-dots{
			display: none;
		}
		.media-mt{
			margin-top: 4%;
		}
		.media-center{
			text-align: center;
			div{
				margin-top: 10px;
			}
		}
		.main-banner-text{
			font-size: 35px;
		}
	}
}
@media only screen and (max-width: 812px) and (orientation: landscape) {
}
@media only screen and (max-width: 740px) and (orientation: landscape) {	
}
@media only screen and (max-width: 736px) and (orientation: landscape) {
}
@media only screen and (max-width: 732px) and (orientation: landscape) {
}
@media only screen and (max-width: 668px) and (orientation: landscape) {
}
@media only screen and (max-width: 641px) and (orientation: landscape) {
}
