#service{
    background-color: $primary-color;
    padding: 4%;
    margin-top: 60px;
    .service-heading{
        font-size: 40px;
        font-weight: bold;
        color: $secondary-color;
        font-family: $primary-font;
    }
    .service-description{
        font-size: 18px;
        color: $light-color;
        font-family: $secondary-font-regular;
    }
    .main-wrapper{
position: relative;
.text-position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    .styled-border::before,
    .styled-border::after,
    span::before,span::after
    {
    content: "";
    position: absolute;
    width: 3px;
    height: 42px;
    background-color: $light-color ;
    transition: 1s;
    mix-blend-mode: hue;
    }
    .styled-border::before {
        top: -31px;
        left: -32px;
    }
    .styled-border::after {
        top: -31px;
        right: -32px;
    }
    span::before {
        top: 55px;
        left: -32px;
    }
    span::after {
        top: 55px;
        right: -32px;
    }

.styled-border:hover:before,
.styled-border:hover:after,
.styled-border:hover span::before,
.styled-border:hover span::after {
  background-color: white; 
  width: calc(180px / 2);
  height: calc(50px / 2);
}

    .slider-heading{
        font-size: 20px;
        color: $light-color !important;
        text-align: center;
        font-family: $primary-font !important;
        text-shadow: 1px 1.732px 0px rgba(0, 0, 0, 0.75);
        -moz-transform: matrix( 2.27842832362306,0,0,2.27842832362304,0,0);
        -webkit-transform: matrix( 2.27842832362306,0,0,2.27842832362304,0,0);
        -ms-transform: matrix( 2.27842832362306,0,0,2.27842832362304,0,0);
    }
    .slider-desc{
        margin-top: 20px;
        font-size: 15px;
        color: $light-color;
        text-align: center;
        visibility: hidden;
        font-family: $secondary-font-medium;
    }
}
}
   
         
}